[user]
    email = pgpatrickgordon@gmail.com
    name = Patrick Gordon
[alias]
    fa = fetch --all --prune --tags --prune-tags
    drop = reset HEAD --hard
    goa = log --graph --oneline --all
[push]
    default = current
[fetch]
    prune = true
