[user]
    email = pgpatrickgordon@gmail.com
    name = Patrick Gordon
[alias]
    fa = fetch --all --prune --tags --prune-tags
    drop = reset HEAD --hard
    goa = log --graph --oneline --all
    shad = describe --match --no-match --always --abbrev --dirty
    sha = rev-parse --short HEAD
    bp = merge-base develop HEAD
    br = !git rebase -i $(git bp)
    bd = !git diff $(git bp)
[push]
    default = current
[fetch]
    prune = true
[diff]
    algorithm = histogram
[submodule]
	recurse = true
